@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Orbitron');


body {
  font-family: 'Luckiest Guy', cursive;
  background-color: Lavender;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#label-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.length {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container-buttons {
  /*display: flex;
  flex-direction: row;*/
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-column-gap: 10px;
}

.tomato {
  width: 100px;
}

#clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 25px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: IndianRed;
  border-radius: 15px;
  color: Indigo;
  padding: 8px;
}

img {
  border-radius: 50%;
  border: 2px solid CornflowerBlue;
}

h2 {
  color: black;
  padding: 10px 10px;
}

.text {
  font-size: 20px;
}

.number {
  padding: 10px;
}

#time-left {
  font-family: 'Orbitron';
  font-weight: bold; 
  font-style: normal;
  font-size: 30px;
  
  vertical-align: middle;
  text-align: center;
  border: 2px solid CadetBlue;
  border-radius: 5%;
  background-color: DarkCyan;
  color: Lime;
  padding: 15px 10px 10px 10px;
  height: 30px;
  width: 130px;
  margin-bottom: 10px;
}

#credits {
  margin-top: 20px;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
}